
/*------------- 
[Table of contents]

[ DEFULT INDEX NUMBER ]
# Rating
# Profile Page
    ## Course Tab
    ## Settings Tab
# Checkout Page
# Instructors Page
# Course Content Page
# Profile Login/Register
-------------------------------------------------------------------*/
/**
 * -------------------
 * # Rating
 * -------------------
 */
body .course-rate__details-row-star i,
body .course-rate .course-rate__details-row .course-rate__details-row-value .rating, 
body .course-rate .course-rate__details-row .course-rate__details-row-value .rating-gray, 
body .review-stars-rated .review-star .fas {
    color: var(--edublink-color-tertiary) !important;
}

body .review-stars-rated .review-star g {
    fill: var(--edublink-color-tertiary) !important;
}

body .review-stars-rated .review-star {
    margin: 0;
    margin-right: 3px;
}

body .review-stars-rated .review-star:first-child {
    margin-left: 0px;
}

body .review-stars-rated .review-star:last-child {
    margin-right: 0px;
}

.edublink-course-review-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.edublink-course-review-wrapper .review-stars-rated {
    margin-bottom: 0;
    display: flex;
    position: relative;
}

.edublink-course-review-wrapper .review-stars-rated + span {
    font-size: 14px;
    font-weight: 500;
    color: var(--edublink-color-heading);
    margin-left: 10px;
    -webkit-transition: var(--edublink-transition);
    transition: var(--edublink-transition);
}

.course-hover-content .edublink-course-review-wrapper .review-stars-rated + span {
    color: var(--edublink-color-white);
}

body .course-hover-content .edublink-course-review-wrapper .review-stars-rated .review-star .far g {
    fill: var(--edublink-color-white) !important;
}

.edublink-course-review-wrapper .review-stars-rated .review-star {
    position: relative;
    line-height: 1;
    margin: 0 2px;
}

.edublink-course-review-wrapper .review-stars-rated .review-star .far {
    position: relative;
}
.edublink-course-review-wrapper .review-stars-rated .review-star .fas {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.edublink-single-course.course-style-1 .review-stars-rated .review-star svg {
    width: 16px !important;
}

.course-curriculum .course-item.has-status.status-completed .course-item-status::before, .course-curriculum .course-item.has-status.status-evaluated .course-item-status::before {
    color: var(--edublink-color-primary) !important;
}

.course-curriculum .course-item .section-item-link .course-item-info {
	display: flex;
	padding-left: 0;
	padding-right: 0;
}

.edublink-course-details-page .course-curriculum ul.curriculum-sections .item-meta {
	line-height: 28px !important;
	font-size: 13px !important;
}

.course-curriculum .course-item .section-item-link .course-item-info .course-item-info-pre {
    padding: 0;
    margin-left: auto;
}

.edublink-course-details-page .course-curriculum ul.curriculum-sections .item-meta.duration {
    background-color: rgba(238, 74, 99, 0.07) !important;
}

.edublink-course-details-page .lp-archive-courses ul, 
.edublink-course-details-page .lp-archive-courses ol {
    padding-bottom: 0;
}

.edublink-course-details-page .course-curriculum .section.closed .section-toggle .lp-icon-caret-up,
.edublink-course-details-page .course-curriculum .section-header .section-left .section-toggle .lp-icon-caret-down {
    display: none;
}

.lp-ajax-message,
#popup-course .quiz-questions .lp-sorting-choice__check-answer,
.learn-press-message.success,
.course-summary-sidebar .lp-course-buttons button ~ .lp-enroll-notice {
    border-color:var(--edublink-color-primary) !important;
}

.edublink-course-details-sidebar-buttons .wrap-btn-add-course-to-cart, 
.edublink-course-details-sidebar-buttons .btn-lp-course-view-cart .lp-button, 
.edublink-course-details-sidebar-buttons .wrap-btn-add-course-to-cart {
    width: 100%;
}

.learn-press-message.success::before,
.learn-press-message.success.icon::before,
.learn-press-message.success.icon::after {
    background: var(--edublink-color-primary) !important;
}

/**
 * -------------------------
 * # Profile Page
 * -------------------------
 */
.lp-user-profile .lp-profile-content-area {
    padding: 20px;
    border: 1px solid var(--edublink-color-border);
    border-radius: 5px;
    box-shadow: var(--edublink-shadow-darker3);
    align-items: flex-start !important;
}

.lp-user-profile .wrapper-profile-header {
    background: transparent;
}

.lp-user-profile .lp-profile-left {
    border: 0;
    padding: 0;
}

.lp-user-profile .lp-profile-username::before, 
.lp-user-profile .lp-profile-username::after {
    display: none;
}

.lp-user-profile .lp-profile-username {
    color: var(--edublink-color-heading);
    font-weight: 600;
    font-size: 24px;
}

.lp-user-profile .lp-profile-user-bio {
    color: var(--edublink-color-body);
    font-weight: 400;
}

.lp-user-profile .lp-user-profile-avatar img {
    border-radius: 5px;
}

.lp-user-profile .lp-user-profile-socials,
.lp-user-profile .lp-user-profile-avatar+.lp-user-profile-socials {
    margin-top: 30px;
}

.lp-user-profile .lp-user-profile-socials a {
    width: 40px;
    height: 40px;
    line-height: 42px;
    font-size: 16px;
    background: transparent;
    border: 1px solid rgba(45, 40, 78, 0.1);
    color: var(--edublink-color-primary);
    border-radius: 100%;
    transition: 0.4s;
    text-align: center;
}

.lp-user-profile .lp-user-profile-socials a .fa-linkedin:before {
    content: "\e903";
    font-family: 'icomoon' !important;
}

.lp-user-profile .lp-user-profile-socials a:hover {
    border-color: var(--edublink-color-primary);
    background: var(--edublink-color-primary);
    color: var(--edublink-color-white);
}

.lp-user-profile ul.learn-press-courses {
    margin: 0 -15px -30px;
}

.lp-user-profile ul.learn-press-courses .course {
    margin: 0 0 30px;
}

.learn-press-courses[data-layout=grid] .course-item:hover {
    box-shadow: 0px 8px 25px rgb(0 0 0 / 5%) !important;
}

.learn-press-profile-course__progress .lp-archive-courses .course-title {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 18px !important;
    line-height: 1.6;
    font-weight: var(--edublink-p-semi-bold);
}

.learn-press-profile-course__progress .lp-archive-courses .course-item .course-instructor a {
    margin-top: 12px;
    margin-left: 0px;
    font-size: 15px;
    font-weight: var(--edublink-p-medium);
    color: var(--edublink-color-heading);
}

.learn-press-wishlist-courses {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    grid-template-columns: inherit;
    grid-gap: inherit;
}

.learn-press-wishlist-courses > li {
    margin-top: 0px;
    margin-bottom: 30px;
}

.learn-press-wishlist-courses h3 {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: var(--edublink-p-bold);
}

.learn-press-wishlist-courses .lp-button {
    margin-top: 30px !important;
    margin-bottom: 0px !important;
}

.lp-profile-content .lp_profile_course_progress__nav button,
.lp-user-profile .lp-profile-content .lp-button {
    margin-top: 50px;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 700;
}

.lp-user-profile .lp-profile-content .lp-button.button-recover-order {
    margin-top: 0;
    height: 43px;
    line-height: 43px;
}

.lp-user-profile #profile-sidebar {
    border: 0;
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs>li {
    border: 0px;
}

#learn-press-profile #profile-nav .lp-profile-nav-tabs li:not(last-child) {
    margin-bottom: 10px;
} 

.lp-user-profile #profile-nav .lp-profile-nav-tabs>li ul li:hover>a i,
.lp-user-profile #profile-nav .lp-profile-nav-tabs>li.active, 
.lp-user-profile #profile-nav .lp-profile-nav-tabs>li:hover {
    background: transparent;
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs>li a {
    background: var(--edublink-color-white);
    border-radius: 5px;
    color: var(--edublink-color-heading);
    font-weight: 500;
    box-shadow: var(--edublink-shadow-darkest);
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs>li ul li a {
    font-size: var(--edublink-font-size-b1);
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs>li ul li > a i,
.lp-user-profile #profile-nav .lp-profile-nav-tabs>li.wishlist>a::before,
.lp-user-profile #profile-nav .lp-profile-nav-tabs>li>a>i {
    color: var(--edublink-color-primary);
    font-size: 13px;
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs>li ul li a i::before {
    font-size: 13px !important;
}

#learn-press-profile #profile-nav .lp-profile-nav-tabs li:hover > a, 
#learn-press-profile #profile-nav .lp-profile-nav-tabs li.active > a {
    background: var(--edublink-color-primary);
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs li>ul {
    padding: 15px !important;
    background: var(--edublink-color-white);
    border-radius: 5px;
    margin-top: -15px;
    box-shadow: inherit;
    min-width: 180px;
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs li.active>ul {
    padding: 0 !important;
    background: transparent;
    border-radius: 0px;
    margin-top: 10px;
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs>li ul li > a i {
    margin-right: 8px;
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs > li ul li a {
    white-space: nowrap;
    border: 0px !important;
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs li.active>ul .active>a,
.lp-user-profile #profile-nav .lp-profile-nav-tabs li.active>ul .active>a i,
.lp-user-profile #profile-nav .lp-profile-nav-tabs>li.wishlist:hover>a::before,
.lp-user-profile #profile-nav .lp-profile-nav-tabs>li ul li a:hover,
.lp-user-profile #profile-nav .lp-profile-nav-tabs>li ul li:hover>a i {
    color: var(--edublink-color-white);
}

.lp-user-profile #profile-nav .lp-profile-nav-tabs>li>a::after {
    color: var(--edublink-color-heading);
}

.lp-user-profile #dashboard-general-statistic {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
}

.lp-user-profile .dashboard-general-statistic__row .statistic-box {
    margin: 0 15px 30px 15px;
    border-radius: 5px;
    background: rgba(82, 95, 225, .2);
    padding: 20px 20px 15px;
    border: 1px solid rgba(82, 95, 225, .4);
    transition: var(--edublink-transition);
}

.lp-user-profile .statistic-box .statistic-box__text,
.lp-user-profile .statistic-box .statistic-box__number {
    color: var(--edublink-color-primary);
    font-size: 18px;
    font-weight: 500;
}

body .lp-user-profile .statistic-box .statistic-box__text {
    color: var(--edublink-color-heading);
}

.lp-user-profile .dashboard-general-statistic__row .statistic-box:hover {
    background: var(--edublink-color-primary);
    border-color: var(--edublink-color-primary);
}

.lp-user-profile .dashboard-general-statistic__row .statistic-box:hover .statistic-box__text,
.lp-user-profile .dashboard-general-statistic__row .statistic-box:hover .statistic-box__number {
    color: var(--edublink-color-white);
}

.lp-profile-content .learn-press-tabs {
    background: transparent;
}

.learn-press-tabs .learn-press-tabs__tab {
    border-right: 0;
    background: transparent;
}

.learn-press-tabs .learn-press-tabs__nav,
.learn-press-profile-course__tab__inner {
    background: transparent;
    border-bottom: 1px solid var(--edublink-color-border);
    justify-content: center;
    margin-bottom: 35px !important;
    margin-top: 0 !important;
}

.learn-press-tabs .learn-press-tabs__nav {
    border: 0;
    border-bottom: 1px solid var(--edublink-color-border);
}

.learn-press-tabs .learn-press-tabs__tab>label,
.learnpress .entry-content ul.learn-press-tabs .learn-press-tabs__tab>li,
.learn-press-profile-course__tab__inner>li {
    margin: 0 25px !important;
}

.learn-press-tabs .learn-press-tabs__tab>label {
    padding: 0;
}

.learn-press-tabs .learn-press-tabs__tab>label a,
.learnpress .entry-content ul.learn-press-tabs .learn-press-tabs__tab a,
.learn-press-profile-course__tab__inner a {
    background: transparent;
    border: 0 none;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 0;
    padding-bottom: 15px;
    color: var(--edublink-color-heading);
    position: relative;
    transition: 0.4s;
}

.learn-press-tabs .learn-press-tabs__tab>label a {
    display: inline-block;
}

.learn-press-tabs .learn-press-tabs__tab a::after,
.learn-press-profile-course__tab__inner a::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    height: 2px;
    background: var(--edublink-color-primary);
    transition: 0.4s;
    width: 0;
}

.learn-press-tabs .learn-press-tabs__tab a.active,
.learn-press-profile-course__tab__inner a.active {
    border: 0;
    color: var(--edublink-color-primary);
}

.learn-press-tabs .learn-press-tabs__tab:first-child.active label::before,
.learn-press-tabs .learn-press-tabs__tab::before,
.learn-press-tabs .learn-press-tabs__tab::after,
.learn-press-tabs .learn-press-tabs__tab a.active::before,
.learn-press-profile-course__tab__inner a.active::before {
    display: none;
}

.learn-press-tabs .learn-press-tabs__checker:nth-child(1):checked ~ .learn-press-tabs__nav .learn-press-tabs__tab:nth-child(1) label a::after,
.learn-press-tabs .learn-press-tabs__checker:nth-child(2):checked ~ .learn-press-tabs__nav .learn-press-tabs__tab:nth-child(2) label a::after,
.learn-press-tabs .learn-press-tabs__checker:nth-child(3):checked ~ .learn-press-tabs__nav .learn-press-tabs__tab:nth-child(3) label a::after,
.learn-press-tabs .learn-press-tabs__tab a:hover::after, 
.learn-press-tabs .learn-press-tabs__tab a.active::after,
.learn-press-profile-course__tab__inner a:hover::after, 
.learn-press-profile-course__tab__inner a.active::after {
    width: 100%;
}

.learn-press-filters>li {
    height: 36px;
    padding: 0 20px;
    width: auto;
    border: 0 none;
    background: var(--edublink-color-shade);
    border-radius: 3px;
    color: var(--edublink-color-heading);
    margin: 7.5px;
    font-weight: 500;
    transition: 0.4s;
    line-height: 36px;
}

.learn-press-filters>li>a, 
.learn-press-filters>li>span {
    font-weight: 500;
}

.learn-press-tabs .learn-press-tabs__checker:nth-child(1):checked ~ .learn-press-tabs__nav .learn-press-tabs__tab:nth-child(1) label a,
.learn-press-tabs .learn-press-tabs__checker:nth-child(2):checked ~ .learn-press-tabs__nav .learn-press-tabs__tab:nth-child(2) label a,
.learn-press-tabs .learn-press-tabs__checker:nth-child(3):checked ~ .learn-press-tabs__nav .learn-press-tabs__tab:nth-child(3) label a,
.learn-press-tabs .learn-press-tabs__tab>label a:hover,
.learn-press-filters>li span,
.learn-press-course-tab-filters .learn-press-filters a.active {
    color: var(--edublink-color-primary);
}

.learn-press-filters>li::after {
    display: none;
}

.lp-ajax-message {
    border-color: var(--edublink-color-body);
    border-radius: 5px;
}

.lp-profile-content table.lp-list-table tr th, 
.lp-profile-content table.lp-list-table tr td,
.lp-list-table tbody tr td, 
.lp-list-table tbody tr th, 
.lp-list-table tfoot tr td, 
.lp-list-table tfoot tr th {
    height: inherit;
    color: var(--edublink-color-body);
    font-weight: 500;
}

.lp-profile-content table.lp-list-table tr th {
    color: var(--edublink-color-heading);
    font-weight: 600;
}

.lp-list-table .list-table-nav td.nav-text,
.lp-list-table .list-table-nav td,
.lp-profile-content table.lp-list-table tr td a,
.lp-profile-content table .lp-label {
    color: var(--edublink-color-body);
    font-weight: 500;
    font-size: 16px;
}

.lp-list-table thead tr th {
    color: var(--edublink-color-body);
    font-weight: 700;
    height: inherit;
    background: var(--edublink-color-shade);
}

.lp-list-table.table > thead:first-child > tr:first-child > th {
    border-top: 1px solid #cccccc;
}

.learn-press-profile-course__progress .lp_profile_course_progress__header {
    background-color: var(--edublink-color-shade);
    font-weight: 700;
    color: var(--edublink-color-heading);
}

.lp-profile-content .lp_profile_course_progress__nav {
    text-align: center;
    margin-top: 30px;
}

.lp-profile-content .lp_profile_course_progress__nav button {
    text-align: center;
}

.lp-list-table tbody, 
.lp-list-table tfoot,
.lp-profile-content table.lp-list-table,
.lp-profile-content table.lp-list-table tr th, 
.lp-profile-content table.lp-list-table tr td,
.lp-list-table.table > thead:first-child > tr:first-child > th {
    border-color:  var(--edublink-color-border);
}

.lp-profile-content table.lp-list-table tr td a:hover,
.lp-user-profile .profile-orders .column-order-actions a:hover, 
.lp-user-profile .profile-orders .column-order-actions a:focus {
    color: var(--edublink-color-primary);
}


@media screen and (max-width: 767px) {
    #primary .learn-press-courses[data-size="2"] .course,
    #primary .learn-press-courses[data-size="3"] .course {
        width: 100% !important;
    }
}


.learn-press-form .form-fields .form-field {
    margin-bottom: 0;
}

@media (max-width: 990px) {
    .lp-user-profile .wrapper-profile-header .lp-profile-content-area {
        padding: 20px !important;
    }

    .lp-user-profile #profile-nav .lp-profile-nav-tabs>li a {
        box-shadow: inherit;
    }
}
/* ## Course Tab */
body .dashboard-statistic__row .statistic-box {
    box-shadow: 0px 10px 30px 6px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    text-align: center;
    border: 0px;
    background: var(--edublink-color-white);
}

body .dashboard-statistic__row .statistic-box:hover {
    background: inherit;
    box-shadow: 0px 10px 30px 6px rgba(0, 0, 0, 0.04);
}

.learn-press-profile-course__progress .lp-archive-courses .course-title:hover {
    color: var(--edublink-color-primary);
}

.profile-courses-list.learn-press-courses[data-layout=grid] .course-content .course-categories a {
    display: none;
}

.lp-archive-courses .profile-courses-list .course-content .course-info .course-price .origin-price {
    opacity: 1;
    color: var(--edublink-color-body);
}

.lp-archive-courses .course-content .course-info .course-price .free,
.lp-archive-courses .course-content .course-info .course-price .price {
    color: var(--edublink-color-heading);
    font-weight: 500;
}

.lp-profile-content .lp_profile_course_progress__nav {
    text-align: center;
}

.lp-profile-content .learn-press-filters {
    flex-wrap: wrap;
}

body .lp-user-profile #profile-content-settings .learn-press-form .form-fields .form-field .form-field-input input,
.lp-list-table tbody, .lp-list-table tfoot, 
.lp-profile-content table.lp-list-table, 
.lp-profile-content table.lp-list-table tr th, 
.lp-profile-content table.lp-list-table tr td, 
.lp-list-table.table > thead:first-child > tr:first-child > th,
.learn-press-profile-course__progress .lp_profile_course_progress,
.learn-press-profile-course__progress .lp_profile_course_progress__header th,
.learn-press-profile-course__progress .lp_profile_course_progress__item td {
    border-color: var(--edublink-color-border) !important;
}

@media screen and (max-width: 520px) {
	body .dashboard-statistic__row .statistic-box {
        box-shadow: inherit !important;
        background: transparent;
    }
}

/* ## Settings Tab */
.lp-user-profile #profile-content-settings .learn-press-tabs__nav {
    border: 0 !important;
    border-bottom: 1px solid var(--edublink-color-border) !important;
}

.learn-press-form .form-fields .form-field textarea {
    padding: 10px 15px;
    border: 1px solid var(--edublink-color-border);
    color: var(--edublink-color-body);
}

body .lp-user-profile #profile-content-settings .learn-press-form .form-fields .form-field .form-field-input input {
    color: var(--edublink-color-body);
    font-size: 15px;
}

body .lp-user-profile #profile-content-settings .learn-press-form .form-fields .form-field .form-field-input input:focus {
    border-color: var(--edublink-color-primary) !important;
}

@media (max-width: 767px) {
    .lp-user-profile #profile-content-settings .learn-press-tabs__nav .learn-press-tabs__tab {
        border-right: 0px !important;
    }
}

@media (max-width: 560px) {
    .lp-user-profile #profile-nav .lp-profile-nav-tabs>li.wishlist>a::before {
        left: 25px;
        top: 30px;
    }
}

/**
 * -------------------------
 * # Checkout Page
 * -------------------------
 */
#checkout-payment .lp-payment-method .gateway-input::before {
    background: var(--edublink-color-primary);
}

body #checkout-payment #checkout-order-action button {
    border: 0;
}

body .lp-checkout-form .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}

body .lp-terms-and-conditions,
#checkout-account-login .lp-checkout-sign-up-link a label,
.lp-checkout-form .lp-checkout-remember label,
.lp-checkout-form .lp-checkout-remember a {
    font-weight: 400 !important;
}

.lp-checkout-form .lp-form-fields input {
    font-family: var(--edublink-font-primary);
    border-color: var(--edublink-color-border) !important;
    height: 60px !important;
    line-height: 60px !important;
}

.learn-press-checkout-comment textarea {
    border-radius: 5px;
    font-family: var(--edublink-font-primary) !important;
    border-color: var(--edublink-color-border) !important;
}

.lp-checkout-form .lp-checkout-remember a:hover {
    text-decoration-color: var(--edublink-color-primary)
}

body #checkout-order .course-name a:hover,
body #checkout-account-register .lp-checkout-sign-in-link a,
body #checkout-account-register .lp-checkout-sign-up-link a, 
body #checkout-account-login .lp-checkout-sign-in-link a, 
body #checkout-account-login .lp-checkout-sign-up-link a {
    color: var(--edublink-color-primary);
}

body .lp-content-area .order_details th, 
body .lp-content-area .order_details td,
body #checkout-order td, 
body #checkout-order th,
body #checkout-order .lp-checkout-order__inner,
body #checkout-account-register, 
body #checkout-account-login {
    border-color: var(--edublink-color-border) !important;
}

#checkout-account-logged-in p {
    margin-bottom: 20px;
}

#checkout-payment {
    margin-top: 35px;
    margin-bottom: 0px;
}

#checkout-payment .secure-connection {
    font-weight: 500;
}

#checkout-payment .secure-connection,
.lp-checkout-form #checkout-account-logged-in a {
    color: var(--edublink-color-heading);
}

.lp-checkout-form #checkout-account-logged-in a:hover {
    color: var(--edublink-color-primary);
}

#checkout-order .col-number {
    color: var(--edublink-color-body);
}

#checkout-order .order-total .col-number {
    color: var(--edublink-color-heading) !important;
}

#checkout-payment #checkout-order-action button.loading::after {
    display: none !important;
}

body.learnpress-checkout.learnpress-page .site-content h1.lp-content-area {
    padding: 0;
}

body.learnpress-checkout.learnpress-page .site-content .lp-content-area .lp-checkout-form {
    margin-top: 25px;
}

#learn-press-checkout.lp-content-area {
    padding: 0px;    
}

#learn-press-checkout h2 {
    padding-left: 15px;
}

.lp-content-area .order_details th a, 
.lp-content-area .order_details td a {
    color: var(--edublink-color-heading);
}

.lp-content-area .order_details th a:hover, 
.lp-content-area .order_details td a:hover {
    color: var(--edublink-color-primary);
}

#learn-press-authorizenet-payment-form label {
    margin-left: 5px;
    color: var(--edublink-color-heading);
}

#learn-press-authorizenet-payment-form select,
#learn-press-authorizenet-payment-form input[type="text"] {
    margin-bottom: 15px;
}

#learn-press-stripe-form label {
    color: var(--edublink-color-heading);
}

#learn-press-checkout .payment-methods .lp-payment-method>label {
    color: var(--edublink-color-heading);
    font-weight: 500;
}

.payment-method-form.payment_method_stripe > p {
    color: var(--edublink-color-heading);
}

.lp-terms-and-conditions {
    color: var(--edublink-color-body);
    font-weight: 500;
}

.lp-terms-and-conditions a {
    color: var(--edublink-color-primary);
    font-weight: 500;
}

.lp-terms-and-conditions a:hover {
    color: var(--edublink-color-primary-alt);
}

.lp-checkout-form__before .lp-checkout-block h4, 
.lp-checkout-form__after .lp-checkout-block h4 {
    margin-top: 3px;
}

.learnpress-checkout #learn-press-checkout .learn-press-message::after {
    display: none;
}

.learnpress-checkout .learn-press-message.error::before {
	display: none;
}

/**
 * -------------------------
 * # Instructors Page
 * yourwebsite.com/instructors
 * -------------------------
 */
.lp-list-instructors .ul-list-instructors li.item-instructor .instructor-display-name {
    color: var(--edublink-color-heading) !important;
    font-weight: 500 !important;
}

.lp-list-instructors .ul-list-instructors li.item-instructor .instructor-btn-view {
    color: var(--edublink-color-white) !important;
    background: var(--edublink-color-primary) !important;
    font-weight: 500 !important;
}

.lp-list-instructors .ul-list-instructors li.item-instructor .instructor-btn-view:hover {
    background: var(--edublink-color-primary-alt) !important;
}

.lp-single-instructor__info,
.lp-list-instructors .ul-list-instructors li.item-instructor {
    border-color: var(--edublink-color-border) !important;
}

.lp-single-instructor__info .instructor-avatar img {
    border: 0px !important;
}

.lp-single-instructor__info__right .instructor-social:empty {
    display: none;
}

.lp-single-instructor__info .instructor-avatar {
    max-width: 250px;
}

body .lp-single-instructor .ul-instructor-courses {
    font-size: 15px;
    color: var(--edublink-color-body);
}

.lp-single-instructor .ul-instructor-courses h3 {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
    border-bottom-color: var(--edublink-color-border) !important;
}

.lp-single-instructor .learn-press-pagination .page-numbers>li .page-numbers:hover,
.lp-single-instructor .ul-instructor-courses h3 a:hover {
    color: var(--edublink-color-primary);
}

body .lp-single-instructor .ul-instructor-courses .price-categories .course-categories {
    display: none;
}

.lp-single-instructor .learn-press-pagination .page-numbers>li .page-numbers.current {
    color: var(--edublink-color-primary) !important;
}

/**
 * -------------------------
 * # Course Content Page
 * -------------------------
 */

body #popup-header {
    background: var(--edublink-color-primary);
}

body #popup-sidebar {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.05);
}

#popup-sidebar .course-curriculum .section-header .learn-press-progress {
    width: auto;
}

#popup-content .content-item-wrap {
    padding-bottom: 0;
}

#popup-content .content-item-wrap {
    padding-bottom: 0;
}

.learn-press-progress .learn-press-progress__active {
    background: var(--edublink-color-tertiary) !important;
}

body #popup-header .course-title a {
    font-weight: 600;
    font-size: 18px;
}

body #popup-header .number {
    font-size: 14px;
    font-weight: 500;
}

body .content-item-wrap .course-item-title {
    font-size: var(--edublink-h3);
    line-height: var(--edublink-h3-lineHeight);
    color: var(--edublink-color-heading);
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid var(--edublink-color-border);
    padding-bottom: 15px;
}

body #sidebar-toggle::before {
    color: var(--edublink-color-primary);
}

body .course-curriculum .course-item.item-locked .course-item-status::before {
    font-family: 'icomoon' !important;
    content: "\e943";
    font-size: 15px !important;
    font-weight: 500;
}

body .content-item-wrap .quiz-content {
    font-size: var(--edublink-font-size-b1);
    line-height: var(--edublink-line-height-b1);
    color: var(--edublink-color-body);
    font-weight: 400;
}

body #popup-footer .course-item-nav .prev a, 
body #popup-footer .course-item-nav .next a,
body .quiz-intro-item__content,
body .quiz-intro-item__title {
    color: var(--edublink-color-heading);
    font-weight: 400;
}

body #popup-footer .course-item-nav .prev::before, 
body #popup-footer .course-item-nav .next::before {
    color: var(--edublink-color-heading);
}

#learn-press-item-comments input#submit,
body #popup-content .lp-button, body.learnpress-page .lp-button.start {
    height: 50px !important;
    line-height: 52px !important;
    padding: 0 50px !important;
}

body #popup-footer .course-item-nav .prev:hover a, 
body #popup-footer .course-item-nav .prev:hover::before, 
body #popup-footer .course-item-nav .next:hover a, 
body #popup-footer .course-item-nav .next:hover::before {
    color: var(--edublink-color-primary);
}

body #popup-sidebar .course-curriculum .course-item .section-item-link {
    color: var(--edublink-color-heading);
}

body #popup-sidebar .course-curriculum .course-item .section-item-link::before {
    content: "\e940";
    font-family: 'icomoon' !important;
    color: var(--edublink-color-heading);
    font-size: 16px;
    padding-right: 4px;
}

body #popup-sidebar .course-curriculum .course-item.course-item-lp_quiz .section-item-link::before {
    font-family: 'remixicon' !important;
    content: "\F045";
}

body #popup-sidebar .section-item-link .item-name {
    transition: var(--edublink-transition);
    top: 1px;
    position: relative;
    font-weight: 400;
}

body #popup-sidebar .course-curriculum .course-item .section-item-link:hover .item-name {
    color: var(--edublink-color-primary);
}

body #popup-sidebar .section-header .section-toggle {
    margin-left: auto;
}

body #popup-sidebar .course-item-meta .item-meta::before {
    font-size: 12px;
}

body #popup-sidebar .course-item-meta .item-meta {
    color: var(--edublink-color-body);
    opacity: 1;
    font-family: var(--edublink-font-secondary);
    line-height: 28px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 7px;
    height: 27px;
    margin-left: 8px;
}

body #popup-sidebar .course-item-meta .item-meta.count-questions {
    background-color: rgba(26, 182, 157, 0.07);
    color: var(--edublink-color-primary);
}

body #popup-sidebar .course-item-meta .item-meta.duration {
    background-color: rgba(238, 74, 99, 0.07);
    color: var(--edublink-color-secondary);
}

body #popup-sidebar .course-item-meta .item-meta.course-item-preview {
    background: rgba(82, 95, 225, .85);
}

body #popup-sidebar .course-item-meta .item-meta.course-item-preview::before {
    background: transparent;
}

body #popup-sidebar .section-header .section-title {
    font-weight: 600;
    color: var(--edublink-color-heading);
}

body #popup-content .lp-button.completed {
    margin-top: 20px !important;
    background: var(--edublink-color-primary-alt);
}

#learn-press-item-comments input#submit:hover {
    color: var(--edublink-color-primary-alt);
}

body #popup-content .quiz-status > div {
    background: #F7F8FB;
}

body #popup-content .quiz-status>div>div .submit-quiz #button-submit-quiz {
    margin-bottom: 0px !important;
}

body #popup-content .quiz-status .countdown span {
    color: var(--edublink-color-heading);
    font-weight: 500;
}

body #popup-content .answer-options .answer-option input[type=checkbox]::after, 
body #popup-content .answer-options .answer-option input[type=radio]::after {
    color: var(--edublink-color-primary);
}

body #popup-content .content-item-wrap .questions-pagination .nav-links .page-numbers {
    color: var(--edublink-color-heading);
    font-weight: 400;
    font-size: var(--edublink-font-size-b1);
}

body #popup-content .content-item-wrap .questions-pagination .nav-links .page-numbers.current, 
body #popup-content .content-item-wrap .questions-pagination .nav-links .page-numbers:hover {
    color: var(--edublink-color-primary);
}

body #popup-content #lp-modal-window #lp-modal-buttons .lp-button {
    margin-left: 10px !important;
}

body #popup-content #lp-modal-window #lp-modal-buttons .lp-button:last-child {
    margin-left: 0 !important;
}

body.learnpress-page .edublink-course-details-sidebar-buttons .lp-btn-wishlist {
    float: inherit;
    margin-bottom: 0px !important;
}

/**
 * ------------------------
 * # Profile Login/Register
 * ------------------------
 */
 #learn-press-profile .edublink-lp-login-register-form-wrapper {
    margin: 0 -30px;
}

#learn-press-profile .edublink-lp-login-register-form-wrapper {
    display: flex;
    padding: 0;
    max-width: 970px;
    margin: 0 auto;
    align-items: flex-start;
}

#learn-press-profile .edublink-lp-col-2 > div {
    width: 50%;
    padding: 0 15px;
}

#learn-press-profile .edublink-lp-col-1 {
    width: 100%;
    padding: 0 15px;
    justify-content: center;
}

#learn-press-profile .lp-content-area .learn-press-form-login, 
#learn-press-profile .lp-content-area .learn-press-form-register {
    width: 100%;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.08) !important;
    padding: 70px 50px;
    border-radius: 5px;
    background-color: var(--edublink-color-white);
    border: inherit;
    margin: 0 15px;
}

#learn-press-profile .learn-press-form-login h3 {
    margin-bottom: 15px;
}

#learn-press-profile .learn-press-form .form-fields .form-field {
    margin: 0 0 20px;
}

#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=text], 
#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=password], 
#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=tel], 
#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=url], 
#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=number], 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=text], 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=password], 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=tel], 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=url], 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=number] {
    border: 1px solid var(--edublink-color-border);
    height: 50px;
    font-size: 15px;
    background-color: var(--edublink-color-white);
    box-shadow: none;
    padding: 0 25px;
    outline: none;
    border-radius: 5px;
    color: var(--edublink-color-heading);
    margin-bottom: 0;
}

#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=text]:focus, 
#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=password]:focus, 
#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=tel]:focus, 
#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=url]:focus, 
#learn-press-profile .learn-press-form-login .form-fields .form-field input[type=number]:focus, 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=text]:focus, 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=password]:focus, 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=tel]:focus, 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=url]:focus, 
#learn-press-profile .learn-press-form-register .form-fields .form-field input[type=number]:focus {
    outline: inherit !important;
    outline-offset: inherit !important;
    box-shadow: inherit !important;
}

#learn-press-profile .learn-press-form-login button[type=submit], 
#learn-press-profile .learn-press-form-register button[type=submit] {
    border-radius: 5px;
    display: inline-block;
    height: 60px;
    line-height: 62px;
    color: var(--edublink-color-white);
    background: var(--edublink-color-primary);
    padding: 0 30px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.4s;
    font-family: var(--edublink-font-secondary);
    border: 0 none;
    margin: 0 0 0px !important;
}

#learn-press-profile .learn-press-form-register button[type=submit] {
    margin-bottom: -30px !important;
}

#learn-press-profile .learn-press-form-login button[type=submit]:hover, 
#learn-press-profile .learn-press-form-register button[type=submit]:hover {
    background: var(--edublink-color-primary-alt) !important;
}

#learn-press-profile .edublink-lp-login-register-form-wrapper .form-field label {
    color: var(--edublink-color-heading);
    margin-bottom: 8px;
}

#learn-press-profile .learn-press-form-login form[name=learn-press-login]>p>a:hover {
    color: var(--edublink-color-primary);
}

#learn-press-profile .learn-press-form-register .form-fields .form-field input:focus,
#learn-press-profile .learn-press-form-login .form-fields .form-field input:focus {
    border-color: var(--edublink-color-primary);
}

@media only screen and (max-width: 767px) {
    #learn-press-profile #learn-press-profile {
        flex-direction: column;
    }

    #learn-press-profile .edublink-lp-login-register-form-wrapper {
        flex-direction: column;
    }

    #learn-press-profile .edublink-lp-col-2 > div {
        width: 100%;
    }

    #learn-press-profile .lp-content-area .learn-press-form-login, 
    #learn-press-profile .lp-content-area .learn-press-form-register {
        margin-left: 0;
        margin-right: 0;
    }

    .edublink-lp-login-register-form-wrapper.edublink-lp-col-2 .learn-press-form-login {
        width: 100%;
        margin-bottom: 30px !important;
    }

    #learn-press-profile .lp-content-area .learn-press-form-register {
        margin-bottom: 0;
    }

    #learn-press-profile .lp-content-area .learn-press-form-login, 
    #learn-press-profile .lp-content-area .learn-press-form-register {
        padding: 40px 30px;
    }
}

